/*
Error: Invalid CSS after "@charset "utf-8"": expected "{", was ";"
        on line 4 of main.scss

1: ---
2: # Only the main Sass file needs front matter (the dashes are enough)
3: ---
4: @charset "utf-8";
5: 
6: //
7: //
8: //// Our variables
9: //$base-font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;

Backtrace:
main.scss:4
/Users/jonathanmares/.rbenv/versions/2.1.2/lib/ruby/gems/2.1.0/gems/sass-3.4.21/lib/sass/scss/parser.rb:1179:in `expected'
/Users/jonathanmares/.rbenv/versions/2.1.2/lib/ruby/gems/2.1.0/gems/sass-3.4.21/lib/sass/scss/parser.rb:1115:in `expected'
/Users/jonathanmares/.rbenv/versions/2.1.2/lib/ruby/gems/2.1.0/gems/sass-3.4.21/lib/sass/scss/parser.rb:1110:in `tok!'
/Users/jonathanmares/.rbenv/versions/2.1.2/lib/ruby/gems/2.1.0/gems/sass-3.4.21/lib/sass/scss/parser.rb:654:in `block'
/Users/jonathanmares/.rbenv/versions/2.1.2/lib/ruby/gems/2.1.0/gems/sass-3.4.21/lib/sass/scss/parser.rb:647:in `ruleset'
/Users/jonathanmares/.rbenv/versions/2.1.2/lib/ruby/gems/2.1.0/gems/sass-3.4.21/lib/sass/scss/parser.rb:673:in `block_child'
/Users/jonathanmares/.rbenv/versions/2.1.2/lib/ruby/gems/2.1.0/gems/sass-3.4.21/lib/sass/scss/parser.rb:663:in `block_contents'
/Users/jonathanmares/.rbenv/versions/2.1.2/lib/ruby/gems/2.1.0/gems/sass-3.4.21/lib/sass/scss/parser.rb:123:in `stylesheet'
/Users/jonathanmares/.rbenv/versions/2.1.2/lib/ruby/gems/2.1.0/gems/sass-3.4.21/lib/sass/scss/parser.rb:39:in `parse'
/Users/jonathanmares/.rbenv/versions/2.1.2/lib/ruby/gems/2.1.0/gems/sass-3.4.21/lib/sass/engine.rb:403:in `_to_tree'
/Users/jonathanmares/.rbenv/versions/2.1.2/lib/ruby/gems/2.1.0/gems/sass-3.4.21/lib/sass/engine.rb:378:in `_render_with_sourcemap'
/Users/jonathanmares/.rbenv/versions/2.1.2/lib/ruby/gems/2.1.0/gems/sass-3.4.21/lib/sass/engine.rb:295:in `render_with_sourcemap'
/Users/jonathanmares/.rbenv/versions/2.1.2/lib/ruby/gems/2.1.0/gems/sass-3.4.21/lib/sass/plugin/compiler.rb:490:in `update_stylesheet'
/Users/jonathanmares/.rbenv/versions/2.1.2/lib/ruby/gems/2.1.0/gems/sass-3.4.21/lib/sass/plugin/compiler.rb:215:in `block in update_stylesheets'
/Users/jonathanmares/.rbenv/versions/2.1.2/lib/ruby/gems/2.1.0/gems/sass-3.4.21/lib/sass/plugin/compiler.rb:209:in `each'
/Users/jonathanmares/.rbenv/versions/2.1.2/lib/ruby/gems/2.1.0/gems/sass-3.4.21/lib/sass/plugin/compiler.rb:209:in `update_stylesheets'
/Users/jonathanmares/.rbenv/versions/2.1.2/lib/ruby/gems/2.1.0/gems/sass-3.4.21/lib/sass/plugin.rb:82:in `update_stylesheets'
/Users/jonathanmares/.rbenv/versions/2.1.2/lib/ruby/gems/2.1.0/gems/sass-3.4.21/lib/sass/exec/sass_scss.rb:363:in `watch_or_update'
/Users/jonathanmares/.rbenv/versions/2.1.2/lib/ruby/gems/2.1.0/gems/sass-3.4.21/lib/sass/exec/sass_scss.rb:51:in `process_result'
/Users/jonathanmares/.rbenv/versions/2.1.2/lib/ruby/gems/2.1.0/gems/sass-3.4.21/lib/sass/exec/base.rb:52:in `parse'
/Users/jonathanmares/.rbenv/versions/2.1.2/lib/ruby/gems/2.1.0/gems/sass-3.4.21/lib/sass/exec/base.rb:19:in `parse!'
/Users/jonathanmares/.rbenv/versions/2.1.2/lib/ruby/gems/2.1.0/gems/sass-3.4.21/bin/scss:13:in `<top (required)>'
/Users/jonathanmares/.rbenv/versions/2.1.2/bin/scss:23:in `load'
/Users/jonathanmares/.rbenv/versions/2.1.2/bin/scss:23:in `<main>'
*/
body:before {
  white-space: pre;
  font-family: monospace;
  content: "Error: Invalid CSS after \"@charset \"utf-8\"\": expected \"{\", was \";\"\A         on line 4 of main.scss\A \A 1: ---\A 2: # Only the main Sass file needs front matter (the dashes are enough)\A 3: ---\A 4: @charset \"utf-8\";\A 5: \A 6: //\A 7: //\A 8: //// Our variables\A 9: //$base-font-family: \"Helvetica Neue\", Helvetica, Arial, sans-serif;"; }
