<h4>CONTACT DETAILS</h4>

<p class="contact_info"><i class="fa fa-map-marker"></i>
  <a href="https://www.google.com/maps/place/648+Bloomfield+Ave,+Verona,+NJ+07044/@40.8330467,-74.2502778,17z/data=!3m1!4b1!4m5!3m4!1s0x89c3007612e5b2e3:0x67851c22dc2f5770!8m2!3d40.8330467!4d-74.2480891"> 648 Bloomfield Avenue <br/> Verona, New Jersey, 07044
  </a>
</p>

<p class="contact_info"><i class="fa fa-phone"></i> 973-433-7533 / 973-433-7382</p>

<p class="contact_info"><i class="fa fa-envelope-square"></i> <a href="mailto:contact@restaurant.com">contact@zaferongrill.com</a></p>
<div>
  <a href="https://www.google.com/maps/place/648+Bloomfield+Ave,+Verona,+NJ+07044/@40.8330467,-74.2502778,17z/data=!3m1!4b1!4m5!3m4!1s0x89c3007612e5b2e3:0x67851c22dc2f5770!8m2!3d40.8330467!4d-74.2480891"
 class="btn btn-lg btn-yellow-x-small scrool">QUICK NAVIGATE</a>
</div>
