<!--begin footer -->
<div class="footer">

  <!--begin container -->
  <div class="container">

    <!--begin row -->
    <div class="row footer-top">

      <!--begin col-md-3 -->
      <div class="col-md-3 padding-bottom-50">
        {% include footer/about-us.html %}
      </div>
      <!--end col-md-3 -->

      <!--begin col-md-3 -->
      <div class="col-md-3 padding-bottom-50">

        {% include footer/hours.html %}

      </div>
      <!--end col-md-3 -->

      <!--begin col-md-3 -->
      <div class="col-md-3 padding-bottom-50">

        {% include footer/reservations.html %}

      </div>
      <!--end col-md-3 -->

      <!--begin col-md-3 -->
      <div class="col-md-3 padding-bottom-50">
        {% include footer/contact-details.html %}
      </div>
      <!--end col-md-3 -->

    </div>
    <!--end row -->

    <!--begin row -->
    <div class="row">

      <!--begin footer-bottom -->
      <div class="footer-bottom">

        <!--begin col-md-5 -->
        <div class="col-md-5">

          <!--begin copyright -->
          <div class="copyright ">
            <p>© 2017 Zaferon. Web design by MaggioMares Software.</p>

          </div>
          <!--end copyright -->

        </div>
        <!--end col-md-5 -->

        <!--begin col-md-2 -->
        <div class="col-md-2 text-center">

          <a href="#hero-section" class="scrool top-scroll"><i class="fa fa-angle-double-up"></i></a>

        </div>
        <!--end col-md-2 -->

        <!--begin col-md-5 -->
        <div class="col-md-5">

          <!--begin footer_social -->
          <ul class="footer_social">
            <li>
              Follow Us:
            </li>
            <li>
              <a href="https://twitter.com/{{twitter_username}}">
                <i class="fa fa-twitter"></i>
              </a>
            </li>
            <!-- <li>
              <a href="#">
                <i class="fa fa-pinterest"></i>
              </a>
            </li> -->
            <li>
              <a href="https://facebook.com/{{facebook_username}}">
                <i class="fa fa-facebook"></i>
              </a>
            </li>
            <li>
              <a href="https://instagram.com/{{instagram_username}}">
                <i class="fa fa-instagram"></i>
              </a>
            </li>
            <!-- <li>
              <a href="#">
                <i class="fa fa-youtube"></i>
              </a>
            </li> -->
          </ul>
          <!--end footer_social -->

        </div>
        <!--end col-md-5 -->

      </div>
      <!--end footer-bottom -->

    </div>
    <!--end row -->

  </div>
  <!--end container -->

</div>
<!--end footer -->
