<h4>RESTAURANT HOURS</h4>
<!--   <table class="grey">
    <tr><th>Closed Dec 25 & 26, Jan 1 & 2 </th></tr>
    <tr><th>Sunday - Saturday </th></tr>
    <tr><th>Lunch 11:30 am - 3:30 pm </th></tr>
    <tr><th>Dinner 5:00 pm – 9:30 pm </th></tr>
    <tr><th>Brunch 9:30 am – 3:30 pm (weekends) </th></tr>
    <tr><th>Closed on Mondays</th></tr>
  </table> -->
<ul class="hours">
    <li>Closed Dec 25 & 26, Jan 1 & 2 </li>
    <li>Closed on Mondays</li>
    <li><b>Sunday - Saturday </b> </li>
    <li>Lunch 11:30 am - 3:30 pm </li>
    <li>Dinner 5:00 pm – 9:30 pm </li>
    <li>Brunch 9:30 am – 3:30 pm (weekends) </li>
</ul>
