<h4>RESTAURANT HOURS</h4>
  <table class="grey">
    <tr><th>Sunday</th><td> &emsp; 11:30 am–9:30 pm</td></tr>
    <tr><th>Monday</th><td> &emsp; Closed</td></tr>
    <tr><th>Tuesday</th><td> &emsp; 11:30 am–9:30 pm</td></tr>
    <tr><th>Wednesday</th><td> &emsp; 11:30 am–9:30 pm</td></tr>
    <tr><th>Thursday</th><td> &emsp; 11:30 am–9:30 pm </td></tr>
    <tr><th>Friday</th><td> &emsp; 11:30 am–9:30 pm </td></tr>
    <tr><th>Saturday  </th><td> &emsp; 11:30 am–9:30 pm</td></tr>
  </table>
  <p>We are closed for Easter. </p>
