<h4>RESERVATIONS</h4>
  <p class="no-justify reservations">
    Reservations can be made through Opentable or by giving us a call.
  </p>
  <link href="https://cdn.otstatic.com/dcwidget/2018/dinerschoicebadges.css" rel="stylesheet" type="text/css" /><a href="http://www.opentable.com/restaurant/profile/####/reserve?rid=348856&restref=348856"class="ot-dc-badge ot-dc-badge--p"> </a>


<!-- <a href="https://www.opentable.com/r/zaferon-grill-reservations-verona?restref=348856&lang=en" class="btn btn-lg text-center btn-yellow-x-small scrool push-down">RESERVE NOW!</a> -->
