---
layout: default
title: About
spanHeading: About Us
h2Heading: New Bistro Concept
pHeading: A unique Mediterranean and Persian Inspired culinary experience
---

<!--begin section-grey-->
<section class="section-white">

    <!--begin container-->
    <div class="container">

        <!--begin row-->
       <div class="row">

            <!--begin col-md-6-->
            <div class="col-md-6 col-md-push-3 padding-top-0 wow slideInRight">
                <div class="row text-center">
                    <span class="comic-text text-center">Restaurant</span>
                </div>
                <!-- <h2 class="section-title">A New Kind of Food</h2> -->
                {% capture aboutZaferon %}{% include about/aboutZaferon.md %}{% endcapture %}
                {{ aboutZaferon | markdownify }}
                <!-- <a href="#" class="btn btn-lg btn-yellow scrool">Learn About Our Food</a> -->
            </div>
            <!--end col-md-6-->

        <!-- </div> -->
        <!--end row-->

        <div class="row">

        </div>

    </div>
    <!--end container-->

</section>
<!--end section-grey-->




<!--begin section-white-->
<section class="section-white small-padding">

    <!--begin container-->
    <div class="container">

        <!--begin row-->
        <div class="row">

            <!--begin col-md-6-->
            <div class="col-md-6 col-md-push-3 text-center wow slideInLeft">

                <span class="comic-text">Meet</span>

                <h4 class="section-title">Executive Chef Luis Andres Ramirez Villarroel</h4>

                {% capture meetLuis %}{% include about/meetLuis.md %}{% endcapture %}
                {{ meetLuis | markdownify }}
            </div>
            <!--end col-md-6-->

            <!-- Insert Photo of Luis  -->
            <!-- begin col-md-6-->
            <!-- <div class="col-md-6 wow slideInRight">

                <img src="http://placehold.it/800x700" alt="picture" class="width-100">

            </div> -->
            <!--end col-md-6 -->

        </div>
        <!--end row-->

    </div>
    <!--end container-->

</section>
<!--end section-white-->

<!--begin About Soody-->
<section class="section-white small-padding">

    <!--begin container-->
    <div class="container">

        <!--begin row-->
        <div class="row">

            <!--begin col-md-6-->
            <div class="col-md-6 col-md-push-3 text-center padding-top-0 padding-bottom-50 wow slideInLeft">

                <span class="comic-text">Meet</span>

                <h4 class="section-title">Soody Nelson, Owner</h4>

                {% capture meetSoody %}{% include about/meetSoody.md %}{% endcapture %}
                {{ meetSoody | markdownify }}



            </div>
            <!--end col-md-6-->


        </div>
        <!--end row-->

    </div>
    <!--end container-->

</section>
<!--end About Soody-->
