---
layout: home
---

<!--begin home-hero-section -->
<div id="hero-section" class="home-hero-section">

  {% include holidays.html %}

  {% include home-slider.html  %}

  <!--begin instagram feed -->
  <!-- <div id="instafeed"> -->

    <!-- begin instagram-text -->
    <!-- <div class="instagram-text">

      <a href="https://twitter.com/{{site.twitter_username}}" target="_blank" class="instagram-icon"><i class="fa fa-instagram"></i></a>

      <p>Follow us on Instagram!</p>

    </div> -->
    <!--end instagram-text -->

  <!-- </div> -->
  <!--end instagram feed -->

</div>
<!--end home-hero-section -->
