<!--begin footer -->
<div class="footer">

  <!--begin container -->
  <div class="container">

    <!--begin row -->
    <div class="row footer-top">

      <!--begin col-md-3 -->
      <div class="col-md-3 padding-bottom-50">

        <h4>ABOUT US</h4>

        <p>A health oriented restaurant that brings together the falvors and spices that your palate wants.</p>

        <a href="about.html" class="btn btn-lg btn-yellow-x-small scrool">OUR STORY</a>

      </div>
      <!--end col-md-3 -->

      <!--begin col-md-3 -->
      <div class="col-md-3 padding-bottom-50">

        <h4>Restaurant Hours</h4>
          <table class="grey">
            <tr><th>Sunday</th><td> &emsp; 11:00 am–9:30 pm</td></tr>
            <tr><th>Monday</th><td> &emsp; Closed</td></tr>
            <tr><th>Tuesday</th><td> &emsp; 11:00 am–9:30 pm</td></tr>
            <tr><th>Wednesday</th><td> &emsp; 11:00 am–9:30 pm</td></tr>
            <tr><th>Thursday</th><td> &emsp; 11:00 am–9:30 pm </td></tr>
            <tr><th>Friday</th><td> &emsp; 11:00 am–9:30 pm </td></tr>
            <tr><th>Saturday  </th><td> &emsp; 11:00 am–9:30 pm</td></tr>
          </table>

      </div>
      <!--end col-md-3 -->

      <!--begin col-md-3 -->
      <div class="col-md-3 padding-bottom-50">

        <h4>FEATURED PLATES</h4>

        <ul class="footer-gallery">

          <li class="popup-gallery">
            <a class="popup2" href="http://placehold.it/800x600">
              <img src="http://placehold.it/100x100" alt="instagram" />
            </a>
          </li>

          <li class="popup-gallery">
            <a class="popup2" href="http://placehold.it/800x600">
              <img src="http://placehold.it/100x100" alt="instagram" />
            </a>
          </li>

          <li class="popup-gallery">
            <a class="popup2" href="http://placehold.it/800x600">
              <img src="http://placehold.it/100x100" alt="instagram" />
            </a>
          </li>

          <li class="popup-gallery">
            <a class="popup2" href="http://placehold.it/800x600">
              <img src="http://placehold.it/100x100" alt="instagram" />
            </a>
          </li>

          <li class="popup-gallery">
            <a class="popup2" href="http://placehold.it/800x600">
              <img src="http://placehold.it/100x100" alt="instagram" />
            </a>
          </li>

          <li class="popup-gallery">
            <a class="popup2" href="http://placehold.it/800x600">
              <img src="http://placehold.it/100x100" alt="instagram" />
            </a>
          </li>

        </ul>

      </div>
      <!--end col-md-3 -->

      <!--begin col-md-3 -->
      <div class="col-md-3 padding-bottom-50">

        <h4>CONTACT DETAILS</h4>

        <p>Have any questions? Feel free to contact us at:</p>

        <p class="contact_info"><i class="fa fa-map-marker"></i> 
          <a href="https://www.google.com/maps/place/648+Bloomfield+Ave,+Verona,+NJ+07044/@40.8330467,-74.2502778,17z/data=!3m1!4b1!4m5!3m4!1s0x89c3007612e5b2e3:0x67851c22dc2f5770!8m2!3d40.8330467!4d-74.2480891"> 648 Bloomfield Avenue <br/> Verona, New Jersey, 07044
          </a>
        </p> 

        <p class="contact_info"><i class="fa fa-phone"></i> 973-433-7533 / 973-433-7382</p>

        <p class="contact_info"><i class="fa fa-envelope-square"></i> <a href="mailto:contact@restaurant.com">contact@zaferongrill.com</a></p>

      </div>
      <!--end col-md-3 -->

    </div>
    <!--end row -->

    <!--begin row -->
    <div class="row">

      <!--begin footer-bottom -->
      <div class="footer-bottom">

        <!--begin col-md-5 -->
        <div class="col-md-5">

          <!--begin copyright -->
          <div class="copyright ">
            <p>© 2016 Zaferon. Web design by MaggioMares Software.</p>

          </div>
          <!--end copyright -->

        </div>
        <!--end col-md-5 -->

        <!--begin col-md-2 -->
        <div class="col-md-2 text-center">

          <a href="#hero-section" class="scrool top-scroll"><i class="fa fa-angle-double-up"></i></a>

        </div>
        <!--end col-md-2 -->

        <!--begin col-md-5 -->
        <div class="col-md-5">

          <!--begin footer_social -->
          <ul class="footer_social">
            <li>
              Follow Us:
            </li>
            <li>
              <a href="#">
                <i class="fa fa-twitter"></i>
              </a>
            </li>
            <li>
              <a href="#">
                <i class="fa fa-pinterest"></i>
              </a>
            </li>
            <li>
              <a href="#">
                <i class="fa fa-facebook"></i>
              </a>
            </li>
            <li>
              <a href="#">
                <i class="fa fa-instagram"></i>
              </a>
            </li>
            <li>
              <a href="#">
                <i class="fa fa-youtube"></i>
              </a>
            </li>
          </ul>
          <!--end footer_social -->

        </div>
        <!--end col-md-5 -->

      </div>
      <!--end footer-bottom -->

    </div>
    <!--end row -->

  </div>
  <!--end container -->

</div>
<!--end footer -->