<!--begin about-hero-section -->
<section id="hero-section" class="{{page.title | downcase}}-hero-section">

    <!--begin image-overlay -->
    <div class="image-overlay"></div>
    <!--end image-overlay -->

    <!--begin container-->
    <div class="container image-section-inside">

        <!--begin row-->
        <div class="row">

            <!--begin col-md-10-->
            <div class="col-md-10 col-md-offset-1 text-center">

                <span class="comic-text wow fadeIn" data-wow-delay="0.5s">{{page.spanHeading}}</span>

                <h2 class="section-title white wow bounceIn" data-wow-delay="1s">{{page.h2Heading}}</h2>

                <p class="hero-text wow fadeInUp" data-wow-delay="2s">{{page.pHeading}}</p>

            </div>
            <!--end col-md-10-->

        </div>
        <!--end row-->

    </div>
    <!--end container-->

</section>
<!--end about-hero-section -->
