<section class="section-holiday" style="display: none;">
<!--     <div class="container">

        <div class="row holiday-title">
            <div class="col-md-6 col-md-push-3 padding-top-0 wow slideInRight">
                <div class="row text-center">
                    <span class="comic-text text-center">Join us for the Holidays</span>
                </div>

            </div>
        </div>
    </div> -->

    <div class="flex-container">
        <div class="item-grow">
            <a 
                href="https://www.opentable.com/r/zaferon-grill-reservations-verona?restref=348856&lang=en&datetime=2017-12-25T19"
            >
                <img 
                    src="./images/christmas_2017.jpeg" 
                    alt=""
                    class="holiday-images"
                >
            </a>
        </div>

        <div class="item-grow">
            <a 
                href="https://www.opentable.com/r/zaferon-grill-reservations-verona?restref=348856&lang=en&datetime=2017-12-31T19"
            >
                <img 
                    class="holiday-images" 
                    src="./images/new_years_2017.jpeg" 
                    alt=""
                >
            </a>
        </div>
    </div>
</section>

<section class="marble-background divider">

</section>