<!--begin nav -->
  <nav class="navbar navbar-default navbar-fixed-bottom opaque marble-background notice">

    <!--begin container -->
    <div class="container">

        <p style="margin: auto; text-align: center; font-size: 20px; line-height:22px; color: #fff">We are closed for Memorial Day from 5/27 to 5/29 </p>
        <p style="margin: auto; text-align: center; font-size: 20px; line-height:22px; color: #fff">We will reopen on Wednesday, 5/30 </p>

    </div>
    <!--end container -->

  </nav>
  <!--end nav -->
