@media(max-width:991px) {
    .navbar-default .navbar-nav > li.social > a.first {
        border-left: 0px;
        padding: 0px;
    }
    .socialOthers {
        padding-left: 6px;
    }
    .navbar-default {
        background-color: black;
    }

    /*.navbar-brand > img {*/
        /*margin-top: -16px;*/
    /*}*/

}
/*
.navbar-brand > svg {
    margin-top: -100px;

}*/
